<template>
  <table class="table is-fullwidth">
    <colgroup>
      <col span="1" style="width: 90%;">
      <col span="1" style="width: 10%; min-width: 80px;">
    </colgroup>
    <thead>
      <tr>
        <td>選項</td>
        <td>票數</td>
      </tr>
    </thead>
    <tbody>
      <tr v-for="result in results" :key="result.nameHash">
        <td>{{ result.name }}</td>
        <td>{{ result.count }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  data() {
    return {
      intervalHandler: null,
      results: []
    }
  },
  methods: {
    async updateResult() {
      let resp = await fetch('/results');
      this.results = await resp.json();
    }
  },
  mounted() {
    this.intervalHandler = setInterval(this.updateResult, 500);
  },
  unmounted() {
    clearInterval(this.intervalHandler);
  }
};
</script>
