<template>
  <div>
    <div class="field has-addons">
      <div class="control is-expanded">
        <input v-model="name" class="input" type="text" placeholder="這裡填一下想投的喲" @keydown="mayVote">
      </div>
      <div class="control">
        <a class="button is-info" :class="{ 'is-loading': submitting }" @click="vote">
          投票！
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      submitting: false,
      name: ''
    }
  },
  methods: {
    async mayVote(event) {
      if (event.key === 'Enter' || event.keyCode === 13) {
        await this.vote();
      }
    },
    async vote() {
      if (this.submitting) {
        return;
      }
      this.submitting = true;

      await fetch('/results', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          name: this.name,
        }),
      });

      this.submitting = false;
    }
  }
}
</script>
