<template>
  <div id="main">
    <div class="container">
      <Vote class="mb-5"></Vote>
      <h1 class="title is-3">結果</h1>
      <Result></Result>
    </div>
  </div>
</template>

<script setup>
import Vote from './components/Vote.vue';
import Result from './components/Result.vue';
</script>

<style lang="scss">
@import "bulma/bulma.sass";
#main {
  padding-top: 50px;
  min-height: 100vh;
  background-color: $white-ter;
};
</style>
